@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



:root{
    --dark-gray-blue: hsl(228, 12%, 48%);
}
:root{
    --dark-cyan: hsl(158, 36%, 37%);
}

body{
    background-color: hsl(30, 38%, 92%);
    margin: 0;
}
#card{
    display: flex;
    align-items: center;
    justify-content: center;
}
#heading{
    margin-top: 15px;
    margin-bottom: 18px;
    margin-right: 5px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#productImage{
    height: 400px;
    width: 300px;
    padding-top: 4px;
    border-radius: 10px 0 0 10px;
}
h5{
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: var(--dark-gray-blue);
}
#productInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 400px;
    width: 250px;
    padding-left: 30px;
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0, 10px, 10px, 0;
}
#textDescription{
    line-height: 17px;
    margin-top: 5px;
    margin-right: 5px;
    color: var(--dark-gray-blue);
    font-size: 14px;
}
#priceContainer{
    display: flex;
}
#newPrice{
    font-size: xx-large;
    color: var(--dark-cyan);
    margin-top: 0%;
    margin-bottom: 10%;
    font-family: 'Fraunces', serif;
}
#oldPrice{
    align-self: center;
    text-decoration: line-through;
    padding-left: 30px;
    margin-top: 0%;
    color: var(--dark-gray-blue);
}

#cartButton{
    background-color: var(--dark-cyan);
    padding: 12px 15px;
    border: none;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
@media (max-width: 375px){
    #container{
        justify-content: flex-start;
        padding: 20px;
        margin-top: 10px;
    }
    #card{
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    #productImage{
        height: 220px;
        width: 100%;
        padding-top: 6px;
        content: url('./images/image-product-mobile.jpg');
        border-radius: 10px 10px 0 0;
    }
    #productInfo{
        height: auto;
        width: 100%;
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }
    #heading{
        font-size: 28px;
        ;
    }
    #textDescription{
        line-height: 23px;
        margin-bottom: 20px;
        font-size: 14px;
        margin-right: 19px;
    }
    h5{margin-top: 0;}
}